@model CompanyModel

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.CompanyID!=0?"Update":"Create") Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-3">
        <form method="post"class="row" enctype="multipart/form-data">
            <input asp-for="CompanyID" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3">
                        @* <div asp-validation-summary="ModelOnly"></div> *@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="CompanyName" class="form-control border-0 shadow" />
                            <label asp-for="CompanyName"></label>
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="CompanyStreetAddress" class="form-control border-0 shadow" />
                            <label asp-for="CompanyStreetAddress"></label>
                            <span asp-validation-for="CompanyStreetAddress" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="CompanyCity" class="form-control border-0 shadow" />
                            <label asp-for="CompanyCity"></label>
                            <span asp-validation-for="CompanyCity" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="CompanyState" class="form-control border-0 shadow" />
                            <label asp-for="CompanyState"></label>
                            <span asp-validation-for="CompanyState" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="CompanyPostalCode" class="form-control border-0 shadow" />
                            <label asp-for="CompanyPostalCode"></label>
                            <span asp-validation-for="CompanyPostalCode" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="CompanyPhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="CompanyPhoneNumber"></label>
                            <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.CompanyID != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Edit Company</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create Company</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="btn btn-secondary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </form>
    </div>
</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline | spellcheckdialog| align lineheight | checklist numlist bullist indent | charmap',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}