@model List<CategoryModel>

<div class="container">
    <div class="row">
        <div class="col-6 pt-2 pb-2">
            <h3 class="text-primary"> Category List</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action="" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle"></i> Create New Category
            </a>
        </div>

    </div>


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Category Display Order
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.OrderBy(u => u.CategoryOrder))
            {            
                <tr>
                    <td>@obj.CategoryName</td>
                    <td>@obj.CategoryOrder</td>
                </tr>
            }
        </tbody>
    </table>


</div>
